$color-primary: #1d3557;
$color-secondary: #457b9d;
$color-light: #a8dadc;
$color-highlight1: #f1faee;
$color-highlight2: #e63946;
$color-highlight3: #e6a939;
$bg1: $color-primary;
$bg2: $color-secondary;
$bg3: #77ABBD;

$dark-text:$color-primary;
