@import '_colors.scss';
.Navigation {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      li{
        padding-bottom: 10pt;
      }
    a:link{
        color:$color-highlight1;
        text-align: left;
        right: 0vw;
        font-size: 20pt;
        text-decoration: none;
        
    }

    a:visited{
        color:$color-highlight1;

    }
    a.active{
        color:black;
    }
    a:hover{
        color: $color-highlight3;
    }
    z-index : 2;
    margin-top: 15vh;
    width: 20vw;
    height: 40vh;
    padding-left: 4vw;
    position: fixed;
    text-align: left;
    
    
}